﻿
<html>
<head>
    <title>SG2</title>
</head>
<body>
    @*Отрисовка частичного представления Header*@
    @await Html.PartialAsync("Header")
    @RenderBody()
    @await Html.PartialAsync("Footer")
</body>
</html>