@model rep.Models.DbModels.User

<main>
@using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
{
    <h1 class="loginregH1">Авторизация</h1>
    <div>
        <label>Логин</label>
        @Html.TextBoxFor(model => model.UserName)
    </div>
    <div>
        <label>Пароль</label>
        @Html.TextBoxFor(model => model.UserPassword)
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    <button type="submit" class="btn btn-primary">Войти</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Registration", "Authentication")'">Регистрация</button>
}
</main>