@model List<rep.Models.DbModels.Material>
<main>
    <section id="about">
        <div class="container">
            <h2>О нас</h2>
            <p>Мы — Школа будущего, стремящаяся создать инновационные образовательные программы для подготовки лидеров завтрашнего дня.</p>
            <p>Наша миссия состоит в том, чтобы развивать учеников во всем их многообразии, поддерживая их творческие стремления и интеллектуальный рост.</p>
        </div>
    </section>

    <section id="programs">
        <div class="container">
            <h2>Программы</h2>
            @foreach (var programm in Model)
            {
            <li>@programm.MaterialTitle</li>
            }
        </div>
    </section>
</main>
