@model List<rep.Models.DbModels.Material>
<main>
    <section id="about">
        <div class="container">
            <h2>О нас</h2>
            <p>Мы — Школа будущего, стремящаяся создать инновационные образовательные программы для подготовки лидеров завтрашнего дня.</p>
            <p>Наша миссия состоит в том, чтобы развивать учеников во всем их многообразии, поддерживая их творческие стремления и интеллектуальный рост.</p>
        </div>
    </section>

    <section id="programs">
        <div class="container">
            <h2>Программы</h2>
            <ul>
                @foreach (var programm in Model)
                {
                    <li>
                        <a href="@Url.Action("MaterialDescription", "Home", new { id = programm.MaterialID })">
                            <p>@programm.MaterialTitle</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>
</main>

