@await Html.PartialAsync("Header")

<div class ="maindiv">
    <h2>
        Welcome To Shkolkovo
    </h2>
    <p>
        Let's go start lessons
    </p>
    <p>
        Cool
    </p>
    <div class="navigation">
        <button type="button" class="navbutton" onclick="window.location.href='@Url.Action("Index","About")'">About Teachers</button>
        <button type="button" class="navbutton" onclick="window.location.href='@Url.Action("Index","Schedule")' ">About Schedule</button>
        <button type="button" class="navbutton" onclick="window.location.href='@Url.Action("Index","Courses")' ">About Courses</button>
    </div>
</div>
@await Html.PartialAsync("Footer")
