@model rep.Models.DbModels.Material

<main>
    <section>
        <div class="container">
            <h2>@Model.MaterialTitle</h2>
            <p>Тип: @Model.MaterialType</p>
            <p>@Model.MaterialDescription</p>
        </div>
    </section>
</main>